<mat-sidenav-container class="side-nav-container">
  <!-- Side Nav -->
  <mat-sidenav [mode]="sideNavMode" [opened]="isSideNavOpen">
    <div class="sidenav-contents">
      <div *ngIf="isHandset$ | async" class="side-nav-header">
        <p class="menu">Menu</p>
        <mat-icon svgIcon="cross" (click)="closeSideNav()"></mat-icon>
      </div>
      <!-- Dashboard -->
      <div
        class="option-frame"
        [ngClass]="{ selected: selectedOption === 'Dashboard' }"
        (click)="selectOption('Dashboard')"
        routerLink="/dashboard"
      >
        <div class="iconWrapper">
          <mat-icon svgIcon="dashboard"></mat-icon>
        </div>
        <span class="option-name">Dashboard</span>
      </div>
      <!-- Assessment -->
      <div
        class="option-frame"
        [ngClass]="{ selected: selectedOption === 'Assessment' }"
        (click)="selectOption('Assessment')"
        routerLink="/assessment"
      >
        <div class="iconWrapper">
          <mat-icon svgIcon="assessment"></mat-icon>
        </div>
        <span class="option-name">Assessment</span>
      </div>
      <!-- My Library -->
      <div
        class="option-frame"
        [ngClass]="{ selected: selectedOption === 'My Library' }"
        (click)="selectOption('My Library')"
        routerLink="/my-library"
      >
        <div class="iconWrapper">
          <mat-icon svgIcon="my-library"></mat-icon>
        </div>
        <span class="option-name">My Library</span>
      </div>

      <!-- Admin Section-->
      <div *ngIf="!isMobile" class="option-frame">
        <div class="iconWrapper">
          <div class="dotted-line"></div>
        </div>
        <div class="admin-badge">Admin</div>
      </div>

      <!-- dotted line for handsets-->
      <div *ngIf="isMobile" class="option-frame-admin">
        <div class="iconWrapper">
          <div class="dotted-line"></div>
        </div>
      </div>

      <!-- Round Status -->
      <div
        *ngIf="!isMobile"
        class="option-frame"
        [ngClass]="{ selected: selectedOption === 'Round Status' }"
        (click)="selectOption('Round Status')"
        routerLink="/round-status"
      >
        <div class="iconWrapper">
          <mat-icon svgIcon="round-status"></mat-icon>
        </div>
        <span class="option-name">Round Status</span>
      </div>
      <div
        *ngIf="isMobile"
        class="option-frame"
        [ngClass]="{ selected: selectedOption === 'Round Status' }"
        (click)="selectOption('Round Status')"
        routerLink="/round-status"
      >
        <div class="iconWrapper">
          <mat-icon svgIcon="round-status"></mat-icon>
        </div>
        <span class="option-name">Round Status</span>
        <div class="admin-badge-mobile">
          <div class="admin-badge">Admin</div>
        </div>
        
      </div>
    </div>
  </mat-sidenav>

  <!-- Main Content Area -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
